	#app {
		display: block;
		margin: 35px auto;
		width: 100%;
		max-width: 400px;
		font-size: 0;
		overflow: hidden;
		position: relative;
	}

	.menu {
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,.6);
		z-index: 9999;
		border-radius: 10px;
	}

	.menu .play {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 15px;
		width: 150px;
		border-radius: 10px;
		background: #0984e3;
		color: #fff;
		font-family: "LeagueSpartan-Bold", sans-serif;
		top: 50%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
		font-size: 1.4rem;
		cursor: pointer;
	}

	.menu.win .play::before {
		display: block;
		content: 'You Win!';
		color: #fff;
		font-family: "LeagueSpartan-Bold", sans-serif;
		font-size: 1.2rem;		
	}

	.menu.lose .play::before {
		display: block;
		content: 'You Lose...';
		color: #fff;
		font-family: "LeagueSpartan-Bold", sans-serif;
		font-size: 1.2rem;		
	}	

	.menu.tie .play::before {
		display: block;
		content: 'Tie Game!';
		color: #fff;
		font-family: "LeagueSpartan-Bold", sans-serif;
		font-size: 1.2rem;		
	}

	.box {
		display: inline-block;
		position: relative;
		cursor: pointer;
		padding-right: calc(100% / 3);
		padding-bottom: calc(100% / 3);
	}

	.inner {
		display: block;
		position: absolute;
		content: " ";
		width: 90%;
		height: 90%;
		left: 5%;
		top: 5%;
		font-family: sans-serif;
		font-size: 3rem;
		border-radius: 10px;
		-webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
	}

	.box.x .inner > div {
		display: block;
		position: absolute;
		height: 6px;
		width: 70%;
		left: 15%;
		top: calc(50% - 3px);
		border-radius: 5px;
		background: #fff;
	}

	.box.x .inner > div:first-child {
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}

	.box.x .inner > div:last-child {
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}

	.box.o .inner > div:first-child {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		display: block;
		position: absolute;
		height: 70%;
		width: 70%;
		left: 15%;
		top: 15%;
		border: solid 6px #fff;
		border-radius: 50%;
	}

	.box:nth-child(even) > .inner {
		background: #F4A261;
	}
	.box:nth-child(odd) > .inner {
		background: #E9C46A;
	}